@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HancomSans-Light";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}

body {
  background-color: #111111;
  color: #fff;
  font-family: "HancomSans-Light";
}

.modal-overlay,
html {
  scrollbar-width: thin; /* 파이어폭스 */
  scrollbar-color: rgba(255, 192, 120, 0) transparent; /* 파이어폭스 */
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 192, 120, 0);
  border-radius: 14px;
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

html:hover::-webkit-scrollbar-thumb,
html:active::-webkit-scrollbar-thumb,
.modal-container:hover::-webkit-scrollbar-thumb,
.modal-container:active::-webkit-scrollbar-thumb {
  background-color: #6f7277;
}

/* 파이어폭스를 위한 추가 스타일 */
html:hover,
html:active,
.modal-container:hover,
.modal-container:active {
  scrollbar-color: #6f7277 transparent;
}

@layer components {
  .modal-overlay {
    @apply fixed left-0 top-0 z-30 h-full w-full bg-[#00000050];
  }

  .modal-container-base {
    @apply fixed z-30 overflow-y-auto rounded-12 bg-[#1A1A1A];
  }

  .modal-container {
    @apply left-1/2 top-1/2 max-h-[90vh] -translate-x-1/2 -translate-y-1/2;
  }

  .modal-container-mobile {
    @apply bottom-0 left-1/2 max-h-screen w-full -translate-x-1/2 overflow-x-hidden;
  }
}
